.intro {
    padding: 2em;
    border: 5px solid #8A2BE2;
    border-radius: 20px;
    background-color: rgb(23, 0, 77);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #F5F5F5;
}

.container {
    margin-bottom: 10em;
    height: 20em;
}

.input {
    height: 10em;
}

.passwrd {
    margin-top: 1em;
}
